---
version: '3.4'

services:
  netbox:
    ports:
      - 8000:8080
    build:
      context: .
      dockerfile: Dockerfile-Plugins
    healthcheck:
      start_period: 180s
    image: netbox:latest-plugins
    environment:
      SKIP_SUPERUSER: "false"
      SUPERUSER_API_TOKEN: "0123456789abcdef0123456789abcdef01234567"
      SUPERUSER_EMAIL: "admin"
      SUPERUSER_NAME: "admin"
      SUPERUSER_PASSWORD: "admin"
{% if github_docker_network %}
    container_name: netbox
    networks:
      - github
{% endif %}
  netbox-worker:
    image: netbox:latest-plugins
    build:
      context: .
      dockerfile: Dockerfile-Plugins
{% if github_docker_network %}
    networks:
      - github
{% endif %}
  netbox-housekeeping:
    image: netbox:latest-plugins
    build:
      context: .
      dockerfile: Dockerfile-Plugins
{% if github_docker_network %}
    networks:
      - github
  postgres:
    networks:
      - github
  redis:
    networks:
      - github
  redis-cache:
    networks:
      - github
networks:
  github:
    name: "{{ github_docker_network }}"
    external: true
{% endif %}
